<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.exponea">
    <application>
        <receiver
            android:name=".PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.exponea.sdk.action.PUSH_CLICKED" />
                <action android:name="com.exponea.sdk.action.PUSH_DEEPLINK_CLICKED" />
                <action android:name="com.exponea.sdk.action.PUSH_URL_CLICKED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="ExponeaReactNativeSDK" android:value="true" />
        <meta-data android:name="ExponeaReactNativeSDKVersion" android:value="2.4.0"/>
    </application>
</manifest>
